#chat-input-field {
  border-color: hotpink;
}

#chat {
  background: #303;
  
  & .cm:nth-child(2n + 1) {
    background: #202;
  }
}

#room-host > .username {
  color: hotpink !important
}

/* Comment should be removed */
