:root {
  --color: hotpink
}

#chat-input-field {
  border-color: var(--color);
}

#chat {
  background: #303;
  
  & .cm:nth-child(2n + 1) {
    background: #202;
  }
}

#room-name .bar-value {
  color: var(--color);
}

#room-host > .username {
  color: var(--color) !important
}

/* Comment should be removed */
